body { 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}

h1, footer {
    background-color: cornflowerblue;
}

.site-title {
    color: rebeccapurple;
}

#my-image {
    box-shadow: 0px 0px 2px 1px black;
}

ul {
    list-style: square;
}

li:nth-child(odd){
    background-color: cornflowerblue;
}

.no-underline {
    text-decoration: none;
}

a {
    border: 6px dotted black;
    background-color: cornflowerblue;
}

a:hover, a:focus {
    background-color: rebeccapurple;
}
