/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* General build; colours: #c78c06, #ffe6ac, #222 and white, min-width media query for the screen size of 760px and above, max-width: 1200px; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #222;
  background: #fff;
  line-height: 1.6;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

div {
  max-width: 760px;
  margin: 0 auto;
}

/* Header Styles */
header {
  background: #222;
  color: white;
  padding: 10px;
}

/* Top Yellow Box */
.yellow {
  background: #c78c06;
  padding: 20px;
  text-align: center;
}

#logo {
  max-width: 100px;
}

/* Nav Styles */
nav ul {
  list-style: none;
  text-align: center;
}

nav ul li a {
  display: block;
  color: #c78c06;
  padding: 15px;
  font-weight: 600;
}

nav ul li a:hover {
  background: #c78c06;
  color: #222;
}

/* Search Bar Styles */
#search {
  display: flex;
  gap: 5px;
  padding: 10px;
}

#search input {
  flex: 1;
  padding: 10px;
  border: none;
}

/* I'll come back to this later, this is tough */
form#search button {
  width: 10%;
  padding: 10px;
  background: #222;
  color: #c78c06;
}

form#search button:hover {
  background: #c78c06;
  color: #222;
}

/* Home Section Styles */
#home {
  position: relative;
}

.text-block {
  position: absolute;
  top: 10%;
  bottom: 11%;
  max-width: 100%;
  background: rgba(0,0,0,0.55);
  color: white;
}

.text-block h1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 40px 10px 0px 10px;
}

.text-block p {
  margin: 0px 10px 0px 10px;
}

.cta-btn {
  display: inline-block;
  background: #c78c06;
  color: #222;
  padding: 25px 25px;
  margin: 10px 10px 5px 10px;
  font-size: 1.2rem;
  font-weight: 500;
}

#home .cta-btn::after {
  content: "▶";
  margin-left: 10px;
  position: relative;
  top: 1px;
}

.cta-btn:hover {
  background-color: #222;
  color: #c78c06;
}

/* About Us Section */
.about-section {
  background-color: #ffe6ac;
  padding: 15px;
}

.about-section h2 {
  font-size: 3rem;
  font-weight: 700;
  margin: 1.5rem 0 1rem;
}

.about-section p {
  margin-bottom: 1rem;
  color: #222;
  line-height: 1.6;
  font-size: 0.9rem;
}

/* Our Services Section */

/* Our Vision Section */

/* Our Team Section */
.team-member {
  margin-bottom: 30px;
}

.team-member img {
  width: 100%;
}

/* Footer Styles */
footer {
  background-color: #222;
  color: #c78c06;
  text-align: left;
  padding: 25px 10px 15px 10px;
  margin-top: 30px;
}

footer a{
  color: #c78c06;
}