/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* General build; colours: #c78c06, #ffe6ac, #222 and white, min-width media query for the screen size of 760px and above, max-width: 1200px; */
/* Costume CSS starts here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #222;
  background: #fff;
  line-height: 1.6;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

div {
  max-width: 760px;
  margin: 0 auto;
}

/* Header Styles */
header {
  background: #222;
  color: white;
  padding: 10px;
}

/* Top Yellow Box */
.yellow {
  background: #c78c06;
  text-align: center;
  padding-bottom: 25px;
  padding-top: 10px;
}

#logo {
  max-width: 100px;
}

/* Nav Styles */
nav ul {
  list-style: none;
  text-align: center;
}

nav ul li a {
  display: block;
  color: #c78c06;
  padding: 15px;
  font-weight: 600;
}

nav ul li a:hover {
  background: #c78c06;
  color: #222;
}

/* Search Bar Styles */
#search {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 100%;
}

#search input {
    flex: 1;
    padding: 12px;
    font-size: 1rem;
    border: none;
    outline: none;
}

/* The icon of pure pain, agony and despair... */
form#search button {
  background: #222;
  border: 1px solid #c78c06;
  color: #c78c06;
  padding: 6px 15px;
  cursor: pointer;
  font-size: 1.5rem;
}

form#search button:hover {
  background: #c78c06;
  color: #222;
}

/* Home Section Styles */
#home {
  position: relative;
}

.text-block {
  position: absolute;
  top: 10%;
  bottom: 11%;
  max-width: 100%;
  background: rgba(0,0,0,0.55);
  color: white;
}

.text-block h1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 40px 10px 0px 10px;
}

.text-block p {
  margin: 0px 10px 0px 10px;
}

.cta-btn {
  display: inline-block;
  background: #c78c06;
  color: #222;
  padding: 25px 25px;
  margin: 10px 10px 5px 10px;
  font-size: 1.2rem;
  font-weight: 500;
}

#home .cta-btn::after {
  content: "▶";
  margin-left: 10px;
  position: relative;
  top: 1px;
}

.cta-btn:hover {
  background-color: #222;
  color: #c78c06;
}

/* About Us Section */
.about-section {
  background-color: #ffe6ac;
  padding: 15px;
}

.about-section h2 {
  font-size: 3rem;
  font-weight: 700;
  margin: 1.5rem 0 1rem;
}

.about-section p {
  margin-bottom: 1rem;
  color: #222;
  line-height: 1.6;
  font-size: 0.9rem;
}

/* Our Services Section */
#services {
  margin: 0px 10px 10px 10px;
}

.service {
  background-color: #ffe6ac;
}

#services h2{
  margin-top: 30px;
  font-size: 3rem;
  font-weight: 700;
}

#services h3 {
  font-size: 2rem;
  font-weight: 700;
  margin: 15px 10px;
}

#services p {
  line-height: 1.2;
  margin: 10px;
}

#services img {
  padding-top: 15px;
  background-color: white;
}

.service-btn {
  display: inline-block;
  background: #222;
  color: white;
  padding: 2rem 3rem;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  position: relative;
  margin: 10px;
}

.service-btn::after {
  content: "▶";
  margin-left: 12px;
  font-size: 0.9rem;
  position: relative;
  top: 1px;
}

/* Our Vision Section */
#vision {
  color: white;
  position: relative;
  margin: 30px 0px;
}

.image-wrapper{
  height: 300px;
}

#vision img{
  height: 100%;
  object-fit: cover;
}

.vision-section {
  position: absolute;
  top: 20px;
  bottom: 10px;
  margin-left: 15px;
}

.vision-section h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.vision-section p {
  line-height: 1.6;
  font-size: 15px;
  margin-bottom: 1rem;
}

.vision-btn {
  display: inline-block;
  background: rgba(0, 20, 40, 0.9);
  padding: 2rem 3rem;
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
  border: 2px solid #c78c06;
  position: relative;
  margin-bottom: 15px;
}

.vision-btn::after {
  content: "▶";
  margin-left: 12px;
  position: relative;
  top: 1px;
}

/* Our Team Section */
#team {
  margin: 0px 10px 10px 10px;
}

#team h2{
  margin-top: 30px;
  font-size: 3rem;
  font-weight: 700;
}

.team-member {
  padding: 1.5rem 1rem;
  background-color: #ffe6ac;
  margin-bottom: 15px;
}

.team-member h3 {
  font-size: 2rem;
  font-weight: bold;
}

.team-member h4 {
  font-size: 1rem;
  font-weight: bold;
}

.bio-divider {
  height: 2px;
  background: #c78c06;
  width: 100%;
  margin-bottom: 1rem;
}

.team-member p {
  line-height: 1.6;
  font-size: 15px;
}

/* Contact Us Section */
#contact {
  margin: 50px 10px 10px 10px;
}

#contact h2{
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}

#contact h3 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.contact-form {
  width: 100%;
  box-sizing: border-box;
}

.contact-form label {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 5px;
  font-weight: 600;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  border: 1px solid #222;
  padding: 10px;
  font-size: 1.5rem;
  margin-bottom: 20px;
  border-radius: 3px;
  box-sizing: border-box;
}

.contact-form textarea {
  height: 180px;
  resize: vertical;
}

.contact-form button {
  background: #222;
  color: #c78c06;
  border: 2px solid #222;
  font-size: 1.1rem;
  cursor: pointer;
  width: fit-content;
  padding: 5px;
}

.contact-form button:hover {
  background: #c78c06;
  color: #222;
}

/* Hours Section */
.hours {
  margin: 0px 10px 10px 10px;
}

.hours h3 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.hours table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}

.hours th,
.hours td {
  border: 1px solid #222;
  padding: 10px;
  background: #ffe6ac;
  font-size: 14px;
}

.hours td {
  background-color: white;
}

/* Location Section */
.location {
  margin: 0px 10px 10px 10px;
}

.location h3 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.location iframe {
  width: 100%;
  border: none;
}

/* Footer Styles */
footer {
  background-color: #222;
  color: #c78c06;
  text-align: left;
  padding: 25px 10px 10px 10px;
}

footer a{
  color: #c78c06;
  text-decoration: underline;
}

/* Media Query: Desktop starts here */
@media screen and (min-width: 760px) and (max-width: 1200px) {

div {
  max-width: 1200px;
}

/* Header Section aka the most painful part possibly, I will come back to it */

/* Home Section */
#home {
  position: relative;
}

.home-image{
  height: 500px;
}

#home img{
  height: 100%;
  object-fit: cover;
}

#home h1 {
  font-size: 65px;
}

#home p {
  font-size: 13px;
}

.text-block {
  top: 10%;
  left: 8%;
  right: auto;
  width: 85%;
}

.text-block h1 {
  font-size: 3rem;
}

.text-block p {
  font-size: 1.1rem;
  margin-bottom: 15px;
}

.cta-btn {
  padding: 20px 25px;
  font-size: 1rem;
}


}